# Java class files
*.class

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

.DS_Store/
/target

/target
/target/
**/target/
/report

/my_allure_results
/my_allure_results/
**/my_allure_results/

/.pytest_cache
/.pytest_cache/
**/.pytest_cache/

/__pycache__
/__pycache__/
**/__pycache__/

/assets
/assets/
**/assets/

.DS_Store

tmp
build
dist
.idea
.*project
*.pyc
*$py.class
.DS_Store
.spyderworkspace
log.html
report.html
output.xml
*.log
QuickStart.html
.coverage
/htmlcov
